page-home {

    .home_style{
        background-image: url('../../assets/imgs/image23.png');background-repeat: no-repeat;background-size: cover; width: 100%;
    height: 100%;
    }

    .centered {
        color:white;
        position:absolute ; /* or fixed */
        top: 40%;
        left: 40%;
       
    }

}
